#jinja2:lstrip_blocks: True
---

# Configure the settings for Loki. Additional settings besides the
# enabled value are sourced from the Loki helm chart which the loki-stack
# helm chart requires.
loki:
  # Enable or disable Loki
  enabled: true

  # Settings for the Loki Ingress if enabled
  ingress:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts: []

  # Enable or disable persistence storage for Loki.
  # The storageClassName needs to be set to a valid
  # StorageClass defined within the cluster.
  persistence:
    enabled: false
    storageClassName: default
    size: 1Gi

  config:
    chunk_store_config:
      max_look_back_period: 672h
    # Set the retention period, currently 4 weeks as the retention period
    # must be divisible by 168h (1 week) by default
    table_manager:
      retention_deletes_enabled: true
      retention_period: 672h

  # Deploy a ServiceMonitor resource to scrape metrics with Prometheus
  serviceMonitor:
    enabled: true
    interval: "30s"

  resources:
    limits:
      cpu: 150m
      memory: 1Gi
    requests:
      cpu: 40m
      memory: 128Mi

  rbac:
    create: true
    pspEnabled: false

# Configure the settings for Promtai. Additional settings besides the
# enabled value are sourced from the Promtail helm chart which the loki-stack
# helm chart requires.
promtail:
# Enable or disable Promtail
  enabled: true
  # Deploy a ServiceMonitor resource to scrape metrics with Prometheus
  serviceMonitor:
    enabled: {{ prometheus_stack_enabled }}
    interval: "30s"

  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 40m
      memory: 64Mi
